.sconsign.dblite
/obj
*.obj
/PowerEditor/visual.net/.vs
/PowerEditor/visual.net/x64/Debug
*.pdb
*.dll
*.lib
*.dblite
*.exe
*.log
bin/categories.json
/test/.godot
/test
/fix
PowerEditor/src/WinControls/VerticalFileSwitcher/VerticalFileSwitcher.res
/PowerEditor/visual.net/x64/Release
/scintilla/win32/Intermediates/x64/Release
